<div *ngIf="this.loading" class="loading-stage">
    <mat-spinner></mat-spinner>
    <p>Ładowanie...</p>
</div>

<div *ngIf="!this.loading" class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__logo">
            <img src="ball.png" alt="logo" />
        </div>
        <div class="sidebar__title">FootballGame</div>
    </div>
    <div class="sidebar__content">
        <div class="sidebar__item" (click)="navigateTo('clicker')">
            <div class="sidebar__item__icon"><img src="icons/clicker.svg" alt="."></div>
            <div class="sidebar__item__text">Clicker</div>
        </div>
        <div class="sidebar__item" (click)="navigateTo('cards')">
            <div class="sidebar__item__icon"><img src="icons/players.svg" alt="."></div>
            <div class="sidebar__item__text">Karty</div>
        </div>
        <div class="sidebar__item" (click)="navigateTo('shop')">
            <div class="sidebar__item__icon"><img src="icons/shop.svg" alt="."></div>
            <div class="sidebar__item__text">Sklep</div>
        </div>
        <div class="sidebar__item" (click)="navigateTo('packs')">
            <div class="sidebar__item__icon"><img src="icons/pack.svg" alt="."></div>
            <div class="sidebar__item__text">Paczki</div>
        </div>
        <div class="sidebar__item" (click)="navigateTo('boxes')">
            <div class="sidebar__item__icon"><img src="icons/box.svg" alt="."></div>
            <div class="sidebar__item__text">Skrzynki</div>
        </div>
        <div class="sidebar__item" (click)="navigateTo('my-player')">
            <div class="sidebar__item__icon"><img src="icons/my-player.svg" alt="."></div>
            <div class="sidebar__item__text">Mój Zawodnik</div>
        </div>
        <div class="sidebar__item" (click)="navigateTo('settings')">
            <div class="sidebar__item__icon"><img src="icons/settings.svg" alt="."></div>
            <div class="sidebar__item__text">Ustawienia</div>
        </div>
    </div>
    <div class="sidebar__footer">
        <div class="sidebar__account" (click)="navigateTo('user')">
            <div class="sidebar__account__photo">
                <img src="user.png" alt=".">
            </div>
            <div class="sidebar__account__info">
                <div class="sidebar__account__name">
                    {{selectedUser.name}} {{selectedUser.surname}}
                </div>
                <div class="sidebar__account__status">Bonus Zawodnika: {{bonus}}</div>
            </div>
            <div class="sidebar__account__icon">
                <img src="icons/edit.svg" alt=".">
            </div>
        </div>
        <div class="sidebar__footer-info">
            <div class="sidebar__credits">
                <span>Autor: Krzysztof Kozakiewicz</span>
            </div>
            <div class="sidebar__legal">
                <a (click)="navigateTo('privacy-policy')" class="sidebar__footer-link">Polityka prywatności</a>
                <span>© 2024 FootballGame</span>
            </div>
        </div>
    </div>
</div>
