<div class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__logo">
            <img src="ball.png" alt="logo" />
        </div>
        <div class="sidebar__title">FootballGame</div>
    </div>
    <div class="sidebar__content">
        <div class="sidebar__item" (click)="navigateTo('clicker')">
            <div class="sidebar__item__icon"><img src="icons/clicker.svg" alt="."></div>
            <div class="sidebar__item__text">Clicker</div>
        </div>
        <div class="sidebar__item" (click)="navigateTo('cards')">
            <div class="sidebar__item__icon"><img src="icons/players.svg" alt="."></div>
            <div class="sidebar__item__text">Karty</div>
        </div>
        <div class="sidebar__item" (click)="navigateTo('sklep')">
            <div class="sidebar__item__icon"><img src="icons/shop.svg" alt="."></div>
            <div class="sidebar__item__text">Sklep</div>
        </div>
    </div>
</div>
