<!-- Przełącznik trybów wyświetlania -->
<div class="view-mode-buttons">
    <button (click)="toggleViewMode('grid')">Widok Graficzny</button>
    <button (click)="toggleViewMode('list')">Widok Listy</button>
</div>

<div *ngIf="viewMode === 'grid'">
    <div class="grid-view">
        <mat-expansion-panel *ngIf="commonCards.length">
            <mat-expansion-panel-header>
                <mat-panel-title> Karty Common </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="card-group">
                <div *ngFor="let card of commonCards" class="card-item">
                    <img
                        [src]="'cards/' + card.club + '/' + card.imageUrl + '.png'"
                        [class.grayscale]="!isOwned(card)"
                        alt="{{ card.name }}"
                    />
                    <span *ngIf="isOwned(card)">
                        Znaleziona
                        {{ getFirstFoundDate(card) }} ({{ getQuantity(card) }})
                    </span>
                </div>
            </div>
        </mat-expansion-panel>
    
        <mat-expansion-panel *ngIf="rareCards.length">
            <mat-expansion-panel-header>
                <mat-panel-title> Karty Rare </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="card-group">
                <div *ngFor="let card of rareCards" class="card-item">
                    <img
                        [src]="'cards/' + card.club + '/' + card.imageUrl + '.png'"
                        [class.grayscale]="!isOwned(card)"
                        alt="{{ card.name }}"
                    />
                    <span *ngIf="isOwned(card)">
                        Znaleziona
                        {{ getFirstFoundDate(card) }} ({{ getQuantity(card) }})
                    </span>
                </div>
            </div>
        </mat-expansion-panel>
    
        <mat-expansion-panel *ngIf="epicCards.length">
            <mat-expansion-panel-header>
                <mat-panel-title> Karty Epic </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="card-group">
                <div *ngFor="let card of epicCards" class="card-item">
                    <img
                        [src]="'cards/' + card.club + '/' + card.imageUrl + '.png'"
                        [class.grayscale]="!isOwned(card)"
                        alt="{{ card.name }}"
                    />
                    <span *ngIf="isOwned(card)">
                        Znaleziona
                        {{ getFirstFoundDate(card) }} ({{ getQuantity(card) }})
                    </span>
                </div>
            </div>
        </mat-expansion-panel>
    
        <mat-expansion-panel *ngIf="legendaryCards.length">
            <mat-expansion-panel-header>
                <mat-panel-title> Karty Legendary </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="card-group">
                <div *ngFor="let card of legendaryCards" class="card-item">
                    <img
                        [src]="'cards/' + card.club + '/' + card.imageUrl + '.png'"
                        [class.grayscale]="!isOwned(card)"
                        alt="{{ card.name }}"
                    />
                    <span *ngIf="isOwned(card)">
                        Znaleziona
                        {{ getFirstFoundDate(card) }} ({{ getQuantity(card) }})
                    </span>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
</div>

<div *ngIf="viewMode === 'list'">
    


    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Overall</th>
                <th>Pozycja</th>
                <th>Narodowość</th>
                <th>Klub</th>
                <th>Typ Karty</th>
                <th>TEM/PAR</th>
                <th>STR/ŁAP</th>
                <th>POD/WYK</th>
                <th>DRY/REF</th>
                <th>DEF/SZB</th>
                <th>FIZ/UST</th>
                <th>Czy Znaleziona</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let card of allCards">
                <td>{{ card.name }}</td>
                <td>{{ card.overall }}</td>
                <td>{{ card.position }}</td>
                <td>
                    <img
                        *ngIf="getFlagCode(card.nationality); else noFlag"
                        [src]="
                            'flags/' + getFlagCode(card.nationality) + '.svg'
                        "
                        [alt]="card.nationality"
                        width="30"
                    />
                    <ng-template #noFlag>
                        <span>{{ card.nationality }}</span>
                    </ng-template>
                </td>
                <td>{{ card.club | clubName }}</td>
                <td>{{ card.cardType }}</td>
                <td>{{ card.tem }}</td>
                <td>{{ card.str }}</td>
                <td>{{ card.pod }}</td>
                <td>{{ card.dry }}</td>
                <td>{{ card.def }}</td>
                <td>{{ card.fiz }}</td>
                <td>
                    <span *ngIf="isOwned(card); else notOwned">
                        &#10003; {{ getFirstFoundDate(card) }} ({{
                            getQuantity(card)
                        }})
                    </span>
                    <ng-template #notOwned>
                        &#10007;
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>
