$primary: #7CA653;
$secondary: #88A672;
$accent: #2B4016;

$background: #F2F2F2;
$black: #262626;

$font-light: #E8EAED;
$font-dark: #0D0D0D;

$common: #1659cc;
$rare: #e9719b;
$epic: #8500bc;
$legendary: #f2a71b;