<div class="modal-container">
    <h2>Wylosowany element</h2>
    <div *ngIf="loading" class="loading-spinner">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div *ngIf="!loading" class="cards-grid">
        <div class="card-item" *ngIf="kitElement">
            <img [src]="'kit_elements/' + kitElement.image_url + '.png'" alt="{{ kitElement.name }}" class="card-image">
            <div class="card-content">
                <h3 class="card-name">{{ kitElement.name }}</h3>
                <span class="card-rarity" [ngClass]="getRarityClass(kitElement.kit_type)">{{ kitElement.kit_type }}</span>
            </div>
        </div>
        <button mat-icon-button class="close-button" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>