<div *ngIf="this.loading" class="loading-stage">
    <mat-spinner></mat-spinner>
    <p>Ładowanie...</p>
</div>

<div *ngIf="!this.loading" class="game-container">
    <div class="game-title">FootballGame</div>
    <div class="game-account">
        Wybrane konto: {{ this.selectedAccount.name }}
        {{ this.selectedAccount.surname }}
    </div>
    <div class="game-score">
        Licznik bramek: {{ counter }} goli
    </div>

    <img src="ball.png" alt="Piłka" class="game-ball" (click)="increment()" />

    <button mat-raised-button (click)="endGame()">Zapisz i zakończ</button>
</div>
